{% extends "base.html.twig" %}
{% block body %}
	<section>
		<h1>{{ title }}</h1>

		<div class="content">
			<p>
				We are envisioning a wedding weekend festival-vibe where our friends and family can camp in cabins, 
															tents, or camping cars on-site, to carry-on the festivities with fellow guests and friends, without worrying about transportation.
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/cabin.png') }}" alt="">
				</div>
				A block of cabins have been reserved for out-of-town guests at Harpers Ferry Adventure Center. These cabins will be on-site, 
															and therefore within walking distance of the wedding + reception, and will also be the meeting point for Sunday’s activities, river tubing and zip lining.
			</p>

			<p>
				There are six cabins which sleep four people each in a secluded cul de sac in the woods, three minutes by foot to the wedding ceremony + reception. 
															This area will also host the wedding afterparty, so those with small children may wish to book the larger cabins. 
															These are cabin numbers 1-6 on the map.
			</p>

			<p>
				There are four larger cabins which sleep six people each, also within a three minute walk to the ceremony + reception. 
																These cabins are close to the check-in and bathhouse, and will be quieter in the after-hours.
																These are cabins 7-10 on the map.
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/camping-car.png') }}" alt="">
				</div>
				For anyone considering renting an RV or a camping car, you can either park it near the cul de sac of small cabins, 
																or book a mountaintop campsite.
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/tent.png') }}" alt="">
				</div>
				For more local guests who can bring their own tents and camping gear, we recommend booking the mountain top campsite #6 (a double site), 
																as this campsite will be a short walk away from cabins 1 and 2. 
																The other mountain top campsites will be about a 2-3 minute drive from the cabins and the ceremony + reception (or about a 10-15 minute walk).
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/booking.png') }}" alt="">
				</div>
				For anyone wishing to reserve a cabin or tent at Harpers Ferry Adventure Center, 
																please email info@hfadventurecenter.com to request your cabin or campsite. (See their website below for further details and cabin and campsite numbers).
			</p>

			https://harpersferryadventurecenter.com/adventures/camping/

			<p>
				Be sure to mention in the email that this reservation is for the wedding of Annie Alquist and Thomas Aujean. 
																The cabins are on hold for our wedding guests until March 30, 2025. After that, they will be available to the public. 
																So be sure to book before March 30th!
																They will send your invoice and link to pay online via email.
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/calendar.png') }}" alt="">
				</div>
				We would recommend booking from Friday Friday July 11, 2025 to Monday July 14, 2025, as we will be out on the river or zip 
																lining through the mountains on Sunday July 13. 
																(This way you will not have to rush to check-out at the same time we are getting ready for adventure! Check-out time at for cabins and tents is at 11 am.)
			</p>


			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/hotel.png') }}" alt="">
				</div>
				For those who prefer a little more luxury, we have also reserved a block of hotel rooms at the Clarion Inn in Harpers Ferry, 
																about a 5 minute drive from the wedding venue. From From here, transportation will be provided to and from the wedding on July 12.
																*Instructions for booking: 
																https://www.choicehotels.com/west-virginia/harpers-ferry/clarion-hotels/wv078?mc=llgoxxpx
																4328 William L Wilson Fwy, Harpers Ferry, WV 25425, United States
																+1 681-540-0202
			</p>

			<p>
				<div class="icon">
					<img src="{{ asset('images/icons/victorian.png') }}" alt="">
				</div>
				We’ve also compiled a list of local bed and breakfasts in downtown Harpers Ferry 
																and nearby Charles Town, for those who appreciate a little historical charm.
			</p>

			<p>In Harpers Ferry:</p>
			<ul class="list">
				<li>
					<a href="https://lighthorseinn.com/" target="_blank">The Light Horse Inn</a>
				</li>
				<li>
					<a href="https://www.theanglersinn.com/" target="_blank">The Angler’s Inn</a>
				</li>
				<li>
					<a href="http://hfstonehouse.com/" target="_blank">Stonehouse B&B</a>
				</li>
				<li>
					<a href="https://thetownsinn.com/" target="_blank">The Town’s Inn</a>
				</li>
			</ul>
			<p>
			In Charles Town (15 minute drive from wedding):</p>
			<ul class="list">
				<li>
					<a href="https://www.hillbrookinn.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness" target="_blank">Hillbrook Inn</a>
				</li>
				<li>
					<a href="https://www.carriageinn.com/" target="_blank">The Carriage Inn</a>
				</li>
			</ul>


		</div>
	</section>
{% endblock %}
