{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans|upper }}</h1>

		<div class="content">
			<div class="line">
				<p>{% trans %}accomodations_1{% endtrans %}</p>
			</div>

			<div class="line cb">
				<div class="icon">
					<img src="{{ asset('images/icons/cabin.png') }}" alt="">
				</div>
				<div>
					<p>
						{% trans %}accomodations_2{% endtrans %}
					</p>

					<p>{% trans %}accomodations_3{% endtrans %}</p>

					<p>{% trans %}accomodations_4{% endtrans %}</p>

				</div>
			</div>
			<div class="line">
				<div class="icon"><img src="{{ asset('images/icons/camping-car.png') }}" alt=""></div>
				<div>
					<p>
						{% trans %}accomodations_5{% endtrans %}
					</p>
				</div>
			</div>

			<div class="line bv">
				<div class="icon">
					<img src="{{ asset('images/icons/tent.png') }}" alt="">
				</div>
				<div>

					<p>
						{% trans %}accomodations_6{% endtrans %}
					</p>
				</div>
			</div>
			<div class="line">
				<div class="icon">
					<img src="{{ asset('images/icons/booking.png') }}" alt="">
				</div>
				<div>
					<p>
						<b>{% trans %}accomodations_7{% endtrans %}</b>
					</p>
					<p>
						{% trans %}accomodations_8{% endtrans %}
					</p>
					<p>
						{% trans %}accomodations_8b{% endtrans %}
					</p>
				</div>
			</div>
			<div class="line">
				<div class="icon">
					<img src="{{ asset('images/icons/calendar.png') }}" alt="">
				</div>
				<div>
					<p>
						{% trans %}accomodations_9{% endtrans %}
					</p>
				</div>
			</div>

			<div class="line os">
				<div class="icon">
					<img src="{{ asset('images/icons/hotel.png') }}" alt="">
				</div>
				<div>
					<p>{% trans %}accomodations_10{% endtrans %}</p>
				</div>
			</div>

			<div class="line sb">
				<div class="icon">
					<img src="{{ asset('images/icons/victorian.png') }}" alt="">
				</div>
				<div>
					<p>{% trans %}accomodations_11{% endtrans %}</p>
					<p>{% trans %}accomodations_12{% endtrans %}:</p>
					<ul class="list">
						<li>
							<a href="https://lighthorseinn.com/" target="_blank">The Light Horse Inn</a>
						</li>
						<li>
							<a href="https://www.theanglersinn.com/" target="_blank">The Angler’s Inn</a>
						</li>
						<li>
							<a href="http://hfstonehouse.com/" target="_blank">Stonehouse B&B</a>
						</li>
						<li>
							<a href="https://thetownsinn.com/" target="_blank">The Town’s Inn</a>
						</li>
					</ul>
					<br>
					<p>{% trans %}accomodations_13{% endtrans %}:</p>
					<ul class="list">
						<li>
							<a href="https://www.hillbrookinn.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness" target="_blank">Hillbrook Inn</a>
						</li>
						<li>
							<a href="https://www.carriageinn.com/" target="_blank">The Carriage Inn</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
