{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title }}</h1>

		<div class="content">

			<p>Here is a recap of your selections.</p>
			<p>
				Feel free to email us if you want to make any changes.
				<br>
				aujean.alquist@gmail.com
			</p>
			<p>Please add other guests in your party.</p>

			<div class="wrapper three">
				{% for person in rsvp.people %}
					<div class="box">
						<div class="text-center">
							{{ person.firstName|capitalize }}
							{{ person.lastName|upper }}
						</div>
						<br>
						Meal :
						{{ person|meal() }}
						<br>
						Activity :
						{{ person|activity() }}
						<br>
						Yoga :
						{{ person|yoga() }}
						<br>
						Accomodation :
						{{ person|location() }}
						<br>
						{% if person.id is not same as(first.id)  %}
							<div class="text-end">
								<a href="{{ path('people_delete', {'uuid': person.uuid}) }}">Delete</a>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>

			<p>
				Dress code: We want you to be comfortable at our wedding. The dress code is
			<a data-bs-toggle="modal" data-bs-target="#dressCode" style="cursor:pointer;">mountain chic</a>. It will be hot this time of year, and you’ll be walking on gravel and dancing on grass, so keep that in mind when choosing what to wear.
			</p>


			<!-- Button trigger modal -->
			<div class="d-flex  justify-content-center">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPLusOne">
					Add +1
				</button>
			</div>

			{{ include('pages/_activities_details.html.twig') }}
			<!-- Modal -->
			<div class="modal fade" id="addPLusOne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Ajout d'un membre de votre famille
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
							{{ form_errors(form) }}

							<div class="wrapper">
								{{ form_row(form.firstName) }}
								{{ form_row(form.lastName, {'attr': { 'value': first.lastName}}) }}
								{{ form_row(form.mealPreference) }}
								{{ form_row(form.activity) }}
								{{ form_row(form.yoga) }}
								{{ form_row(form.location) }}
							</div>

							<div class="text-center">
								{{ form_row(form.submit) }}
							</div>
							{{ form_end(form) }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center m-2">
			<a class="btn btn-warning" href="{{ path('reset', {'uuid': rsvp.uuid}) }}">I made a mistake! Start over</a>
		</div>
	</section>

	<div class="modal fade" id="dressCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			
			<img src="{{ asset('images/dress_code.png') }}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>


{% endblock %}
