{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans }}</h1>
		<div class="content">
			{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
			{{ form_errors(form) }}

			<div class="wrapper">
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}
			</div>

			{{ form_row(form.rsvp.isAttending, {'id': 'attendingSelect'}) }}

			<div class="text-center">
				{{ form_row(form.submit) }}
			</div>
			{{ form_end(form) }}

			<div class="bird-img">
				<img src="{{ asset('images/flowers/oiseau_amour.png') }}" alt="">
			</div>
		</div>
	</section>
{% endblock %}
