{% extends "base.html.twig" %}
{% block body %}
	<section class="main-section">
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans }}</h1>
		<div class="content">

			<div class="line">
				<div class="icon"><img src="{{ asset('images/icons/plane.png') }}" alt=""></div>
				<div>{% trans %}transportation_1{% endtrans %}</div>
			</div>
			<div class="line cb">
				<div class="icon"><img src="{{ asset('images/icons/train.png') }}" alt=""></div>
				<div>{% trans %}transportation_2{% endtrans %}</div>
			</div>
			<div class="line">
				<div class="icon"><img src="{{ asset('images/icons/car.png') }}" alt=""></div>
				<div>{% trans %}transportation_3{% endtrans %}</div>
			</div>
			<div class="line bv">
				<div class="icon"><img src="{{ asset('images/icons/pin.png') }}" alt=""></div>
				<div>
					{% trans %}transportation_4{% endtrans %}
					<br>
					<a href="https://harpersferryadventurecenter.com/?utm_source=googlelocallistings&utm_medium=organic">Harpers Ferry Brewing + Adventure Center</a>
					<br>
					37410 Adventure Center Ln
					<br>
					Purcellville, Virginia
					<br>
					20132 United States
					<br>
					<br>
					<a href="https://www.choicehotels.com/west-virginia/harpers-ferry/clarion-hotels/wv078?mc=llgoxxpx">{% trans %}transportation_5{% endtrans %}</a>
					<br>
					4328 William L Wilson Fwy
					<br>
					Harpers Ferry, West Virginia
					<br>
					25425 United States
					<br>
					<br>
					Dan & Diane Alquist’s home
					<br>
					361 Pointfield Drive
					<br>
					Harpers Ferry, West Virginia
					<br>
					25425 United States
				</div>
			</div>
			<br>
			<div class="line os">
				<div class="icon"><img src="{{ asset('images/icons/shuttle.png') }}" alt=""></div>
				<div>{% trans %}transportation_6{% endtrans %}</div>
			</div>
			<div class="line">
				<div class="icon"><img src="{{ asset('images/icons/warning.png') }}" alt=""></div>
				<div>{% trans %}transportation_7{% endtrans %}</div>
			</div>
		</div>
	</section>
{% endblock %}
