{% extends "base.html.twig" %}

{% block mainTitle %}{% endblock %}

{% block body %}
	<div class="homepage">

		<div class="susan-solo">
			<img src="{{ asset('images/flowers/black_eyed_susan_solo.png') }}" alt="">
		</div>
		<div class="violet-solo">
			<img src="{{ asset('images/flowers/fleur_violete_solo.png') }}" alt="">
		</div>
		<div class="chardon-solo">
			<img src="{{ asset('images/flowers/chardon_solo.png') }}" alt="">
		</div>
		<div class="bouquet-orange">
			<img src="{{ asset('images/flowers/bouquet_orange.png') }}" alt="">
		</div>
		<img src="{{ asset('images/home.jpg') }}" class="img-fluid">
		<h1>Annie & Thomas</h1>
	</div>
{% endblock %}
